out/
server/config/global.json
server/node_modules
server/cloud/app.js

# Unity generated #
client/Temp/
client/Assets/UnityVS/
client/Assets/UnityVS.meta
client/Obj/
client/UnityGenerated/
client/Library/

# Visual Studio / MonoDevelop generated #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# OS generated #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db